*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-vermelho-cptm: #ED1C24;
}

body{
    width: 412px;
    /* height: 917px; */
}

header{
    width: 100%;
    height: 145px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#barrasEsquerda{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#barra1{
    width: 48px;
    height: 5px;
    background-color: var(--cor-vermelho-cptm);
}


#barra2{
    height: 5px;
    background-color: var(--cor-vermelho-cptm);
    width: 102px;
}


#barra3{
    height: 5px;
    background-color: var(--cor-vermelho-cptm);
    width: 75px;
}


#barra4{
    height: 5px;
    background-color: var(--cor-vermelho-cptm);
    width: 39px;
}


#nomeLogo{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

#logo{
    width: 50px;
    height: 44px;
}

h1{
    font-family: 'inter';
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    position: relative;
    top: 4px;
}

h2{
    font-family: 'inter';
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

#barrasDireita{
    width: 102px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: flex-end;
}

#barra5{
    height: 5px;
    background-color: var(--cor-vermelho-cptm);
    width: 84px;
}

#barra6{
    height: 5px;
    background-color: var(--cor-vermelho-cptm);
    width: 48px;
}

#barra7{
    height: 5px;
    background-color: var(--cor-vermelho-cptm);
    width: 102px;
}

#barra8{
    height: 5px;
    background-color: var(--cor-vermelho-cptm);
    width: 84px;
}


main{
    width: 100%;
    height: 562px;
    background-image: url(../imagem/imagemVídeo.jpg);
    background-position: center;
    background-size: cover;
}

#rec {
    position: relative;
    left: 8px;
    top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    opacity: 60%;
    height: 28px;
    width: 62px;
    gap: 5px;
    border-radius: 20px;
    z-index: 0;
}

.recDot {
    width: 20px;
    height: 20px;
    background-color: var(--cor-vermelho-cptm);
    border-radius: 50%;
    animation: blink 2s infinite;
    z-index: 1;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

h3{
    font-size: 13px;
    font-family: 'inter';
    font-weight: 400;
    color: white;
    z-index: 1;
}

 footer{
    width: 100%;
    height: 208px;
    background-color: black;
 }

 #botoes{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 13px;
 }

 #sirene{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 20px;
    width: 118px;
    height: 93px;
    border: #ED1C24 3px solid;
    font-family: 'inter';
    font-weight: 700;
    font-size: 16px;
    color: var(--cor-vermelho-cptm);
    transition: background-color 0.1s;
 }

 #meEncontre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    border-radius: 20px;
    width: 118px;
    height: 93px;
    border: #ED1C24 3px solid;
    font-family: 'inter';
    font-weight: 700;
    font-size: 16px;
    color: var(--cor-vermelho-cptm);
    transition: background-color 0.1s;
 }

 #ligar190{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 118px;
    height: 93px;
    border: #ED1C24 3px solid;
    font-family: 'inter';
    font-weight: 700;
    font-size: 16px;
    color: var(--cor-vermelho-cptm);
    transition: background-color 0.1s;
    text-decoration: none;
 }

 
.slider-container {
    position: absolute;
    left: 57px;
    top: 831px;
    width: 298px;
    height: 66px;
    background-color: rgba(67, 66, 66, 0.3);
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 3px;
}

.slider-text {
    position: absolute;
    left: 74px;
    font-size: 13px;
    font-family: 'inter';
    color: white;
    opacity: 70%;
    font-weight: 700;
}

.slider-button {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}

#cadeado{
    pointer-events: none;
}

.slider-button:hover {
    background-color: #ddd;
}

.modoClaro{
  background-color: #ED1C24;
  color: #ddd;
 }

.hidden {
    display: none !important;
}

#cpf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'inter';
    font-weight: 400;
    font-size: 16px;
    color: white;
    gap: 55px;
}

#cpf-input-container {
    position: absolute;
    left: 57px;
    top: 831px;
    width: 298px;
    height: 66px;
    background-color: rgba(67, 66, 66, 0.3);
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 3px;
}

#cpf-input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
}

#cpf-button {
    border: none;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    left: 50px;
}

#cpf-button:hover{
    background-color: #ddd;
}

#cpf-button img{
    pointer-events: none;
}


#voltar { 
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-family: 'inter';
    font-weight: 400;
    color: white;
    cursor: pointer;
    position: relative;
    top: 11px;
    right: 155px;
} 


#barra1 {
    animation: pulsarPequena 1.5s ease-in-out infinite alternate;
    animation-delay: 0s;
    transform-origin: left;
}

#barra4 {
    animation: pulsarPequena 1.5s ease-in-out infinite alternate;
    animation-delay: 0.4s;
    transform-origin: left;
}


#barra2 {
    animation: pulsarGrande 1.5s ease-in-out infinite alternate;
    animation-delay: 0.2s;
    transform-origin: left;
}

#barra3 {
    animation: pulsarGrande 1.5s ease-in-out infinite alternate;
    animation-delay: 0.6s;
    transform-origin: left;
}


#barra6 {
    animation: pulsarPequena 1.5s ease-in-out infinite alternate;
    animation-delay: 0.3s;
    transform-origin: right;
}

#barra8 {
    animation: pulsarPequena 1.5s ease-in-out infinite alternate;
    animation-delay: 0.7s;
    transform-origin: right;
}


#barra5 {
    animation: pulsarGrande 1.5s ease-in-out infinite alternate;
    animation-delay: 0.5s;
    transform-origin: right;
}

#barra7 {
    animation: pulsarGrande 1.5s ease-in-out infinite alternate;
    animation-delay: 0.1s;
    transform-origin: right;
}



@keyframes pulsarGrande {
    0% { transform: scaleX(1); }
    100% { transform: scaleX(1.15); }
}


@keyframes pulsarPequena {
    0% { transform: scaleX(1); }
    100% { transform: scaleX(1.5); }
}