*{
    margin: 0;
    border: 0;
}
@media screen and (max-width: 420px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../imagem/20930995-a632-4a28-b545-b01226ca9189.jfif);
        background-size: 560px;
        padding-top: 12px;
        position: relative;
        height: 627px;
    }
    #logo{
        width: 38px;
        height: 38px;
        position: relative;
        right: 170px;

    }
    #cptm{
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        bottom: 42px;
        right: 110px;
        padding-top: 10px;
        font-size: 22px;
        color: #ffffff;
    }
    #bvd{
        z-index: 9999;
        position: relative;
        top: 370px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 38px;
        color: #ffffff;
    }
    #forme{
        position: relative;
        top: 20px;
        padding-top: 380px;
        z-index: 9999;
    
    }
    .input-group1{
        padding-bottom: 10px;

    }
    input::placeholder {
        position: relative;
        left: 10px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
    }
    #email{
        
        width: 315px;
        height: 55px;
        border-radius: 20px;
        background-color: white; 
        z-index: 9999;

    }
    
    #senha{
        font-family: Arial, Helvetica, sans-serif;
        width: 315px;
        height: 55px;
        border-radius: 20px;
        background-color: white;
        z-index: 9999;
    }
    .aa{
        color: #ffffff;
        font-size: 25px;
        padding: 10px;
        z-index: 9999;
    }
    #a0{
        position: relative;
        color: white;
        font-size: 17px;
        top: 33px;
        right: 18px;
        z-index: 9999;
    }
    #a2{
        position: relative;
        color: white;
        font-size: 17px;
        top: 14px;
        left: 95px;
        z-index: 9999;

    }
    #a1{
        color: white;
        font-size: 12px;
        right: 120px;
        z-index: 9999;
    }
    #a3{
        color: white;
        font-size: 12px;
        top: 30px;

        right: 120px;
        z-index: 9999;
    }
    #a4{
        position: relative;
        font-size: 12px;
        position: relative;
        color: white;
        z-index: 9999;
        

    }
    .azul {
        position: absolute;
        top: 315px;
        left: 0;
        width: 100%;
        height: 80%;
        background: linear-gradient(to top, #0F1F72 15%, transparent);
        border-radius: 30px;
    }
    .baixo{
        position: relative;
        top: 70px;
        display: flex;
        gap: 10px;

    }
    h5{
        font-size: 25px;
        position: relative;
        bottom: 13px;
        color: white;
        z-index: 9999;
    }
    button{
        
        border-radius: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 20px;
        background-color: red;
        position: relative;
        top: 10px;
        width: 315px;
        height: 55px;
    }
}