*{
    margin: 0;
    border: 0;
}

:root{
    --cor-header: #1B4680;
    --cor-fonte: #FFFFFF;
    --cor-botao-saldo: #4F4D56;
    --cor-botao-recarga: #ED1C24;
    --cor-usual: #1B4680;
    --cor-fundo: white;
    --cor-barras:#ED1C24;
}

@media screen and (max-width: 420px) {
    body{
        background-color: var(--cor-fundo);       
        height: 627px;
    }

    .header-todo {
        display: flex;
        width: 100%;
        height: 110px;
        background-color: var(--cor-header);
        color: var(--cor-fonte);
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 25px;
        position: relative;
        top: 18px;
        left: 10px;
        max-width: 70px;
        height: 38px;
    }

    .logo h1 {
        position: absolute;
        left: 55px;
        top: 8px;
        font-size: 25px;
        color: var(--cor-fonte);
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-weight: 400;
        margin: 0;
        white-space: nowrap;
    }

    .barra {
        position: absolute;
        left: 240px;
        width: 22px;
        height: 200px;
        background-color: var(--cor-fonte);
        transform: rotate(-41.95deg);
    }

    .perfil {
        position: relative;
        top: 3px;
        right: 5px;
    }
    #saldopt{
        margin: 2px solid red;
        background-color: rgb(255, 255, 255);
        width: 200px;
        height: 200px;

    }
    #seta{
        
        padding: 15px;
        width: 27px;
        height: 27px;
    }
    #voltar{
        text-decoration: none;
        color: black;
        position: relative;
        bottom: 21px;
        right: 10px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #bttsaldo{
        top: 12px;
        border-radius: 20px;
        background-color: #1B4680;
        display: flex;
        align-items: center;
        width: 340px;
        height: 73px;
        position: relative;
        left: 35px;
    }
    #seusaldo{
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #dinheiro{
        padding-left: 20px;
        color: white;
        font-size: 24px;


    }
    .imagess{

        width: 40px;
        height: 40px;
        padding: 15px;
    }
    #pagaments{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
        

    }
    .mets{
        position: relative;
        align-items: center;
        display: flex;
        background-color: #1B4680;
        height: 73px;
        width: 340px;
        height: 107px;
        border-radius: 20px;
    }
    h2{
        padding-bottom: 20px;

        font-size: 33px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
    }
    .fontmets{
        position: relative;
        top: 5px;
        color: white;
        font-size: 25px;
        font-weight: 600;
        height: 36px;

    }
    #pixo{
        position: relative;
        left: 174px;

    }
    #boletoso{
        position: relative;
        left: 13px;

    }
    footer{
        background-color: #1B4680;
        height: 80px;
        position: relative;
        top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #Ajuda{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-weight: 600;
        font-size: 25px;
        line-height: 100%;
        font-style: solid;
        text-decoration: none;
    }
    



}

/* testado */