* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

:root {
    --cor-header: #0F1F72;
    --cor-fonte: #FFFFFF;
    --cor-botao-saldo:#4F4D56;
}

@media screen and (max-width: 420px) {
    .header-todo {
        display: flex;
        width: 100%;
        height: 90px;
        background-color: var(--cor-header);
        color: var(--cor-fonte);
        align-items: center;
        justify-content: space-between;
    }  
    
    .logo {
        display: flex;
        align-items: center;
        gap: 25px;
        position: relative;
        top: 10px;
        left: 10px;
        max-width: 70px;
        height: 38px;
    }

    .logo h1 {
        position: absolute;
        left: 55px;
        top: 8px;
        font-size: 25px;
        color: var(--cor-fonte);
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-weight: 400;
        margin: 0;
        white-space: nowrap;
    }
    

    .barra {
        position: absolute;
        left: 240px;
        width: 22px;
        height: 200px;
        background-color: var(--cor-fonte);
        transform: rotate(-41.95deg);
    }

    .perfil {
        position: relative;
        top: 8px;
    }

    .saldo {
        display: flex;
        position: relative;
        top: 20px;
        left: 20px;
        border-radius: 20px;
        background: linear-gradient(to right, #0F1F72 50%, #ED1C24 50%);;
        width: 360px;
        height: 110px;

    }

    .saldo > h3 {
        color: var(--cor-fonte);
        position: relative;
        top: 10px;
        left: 20px;
        font-size: 16px;
        font-weight: 600;
    }

    .saldo > h5 {
        color: var(--cor-fonte);
        position: relative;
        top: 45px;
        left: -60px;
        font-weight: 400;
    }

   

    .pix {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 55px;
        height: 25px;
        background-color: var(--cor-botao-saldo);
        border-radius: 15px;
        border: 1px solid var(--cor-botao-saldo);
        color: var(--cor-fonte);
        font-family: "Inter", sans-serif;
        font-size: 10px;
        letter-spacing: 0%;
        font-weight: 600;
        position: relative;
        left: -120px;
        top: 75px;
        cursor: pointer;
        margin-right: 3px;
    }

    .cartao {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 80px;
        height: 25px;
        background-color: var(--cor-botao-saldo);
        border-radius: 15px;
        border: 1px solid var(--cor-botao-saldo);
        color: var(--cor-fonte);
        font-family: "Inter", sans-serif;
        font-size: 10px;
        letter-spacing: 0%;
        font-weight: 600;
        position: relative;
        left: -115px;
        top: 75px;
        cursor: pointer;
    }

    .qrcode {
        position: absolute;
        left: 255px;
        top: 120px;
    }

    .qrcode > img {
        width: 65px;
        height: 65px;
        color: var(--cor-fonte);
 
    }

    .qrcode > h1 {
        width: 121px;
        height: 19px;
        font-size: 16px;
        font-weight: 600;
        color: var(--cor-fonte);
        position: absolute;
        left: -20px;
       
    }

    .mapa {
        position: absolute;
        top: 260px;
        left: 15px;
        display: flex;
        width: 373px;
        height: 230px;
        background-image: url(../imagem/mapa-metro.png);
        background-size: 120%;
        border-radius: 30px;
        border: 1px solid var(--cor-fonte);
    }
    .azul {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45%;
        background: linear-gradient(to top, #0F1F72 50%, transparent);
        border-radius: 30px; 


}

}